@media only screen and (min-width: 45rem) {
.contact-info {
display: block;
margin-right: 20px;
color:  #074e19;
}

.contact-us-form label {
  font-size: 20px;
}

#hamburger-button{
display: none;
}


nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.banner-heading {
    font-size: 70px;
}

.banner-text {
    font-size: 25px;
    margin-bottom: 30px;
  }
  .banner-btn {
margin-top: 40px;
}    

 /* Weather forecast */ 
 .current-weather, .day1, .day2{
  margin-bottom: 50px;
}
.weather h1 {
  font-size: 25px;
  }

.weather p {
font-size: 20px;
}

h2 {
  margin-left: 30px;
}
.about-us {
  padding: 40px 0;
  background-color: #f9f9f9;
  margin-left: 100px;
  margin-right: 100px;
}


.about-us-text{
  font-size: 20px;
  line-height: 2;
}

.info-card img{
  margin-top: 50px;
  width: 450px;
  height: auto;
  }

  .contact-us-form input[type="text"],
  .contact-us-form input[type="email"],
  .contact-us-form textarea {
    width: 600px; 
  }


/* Fresh-Shake-Banner styles */
.image {
  margin-left: 50px;
  width: 700px;
}
  .Fresh-Shake-Banner h2 {
    font-size: 50px;
    margin: 0px;
  }
  
  .Fresh-Shake-Banner p {
    font-size: 25px;
    margin: 0px;

  }

  .Fresh-Shake-Banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

  .fresh-page-section {
    padding: 40px 0;
    background-color: #f9f9f9;
  
  }
  
  .fresh-page-section h2{
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 30px;
   
  }

  .fresh-page-section p{
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
    max-width: 800px;
    margin-left: 50px;
  }

  .fresh-page-section img {
    width: 700px;
  }

  .fresh-form form{
    max-width: 600px;
      margin-left: 30px;
      padding: 20px;
      margin-right: 20px;
  }

  /* Fresh Fruit Form */



.h3-summary{
    margin-left: 50px;
    font-size: 30px;
}  
#order-summary {
	margin: 20px 0px 50px 0px;
	background-color:#F4EEA9;
	max-width: 700px;
	margin-left: 60px;
  font-size: 25px;
}

/* MAP */

.map-container {
    width: 700px;
}

#map {
  height: 700px;
}

}