@media only screen and (min-width: 45rem) {
.contact-info {
display: block;
margin-right: 20px;
color:  #074e19;
}

.hamburger-menu {
display: none;
}

nav li {
  margin: 0 10px;
  font-size: 25px;
}

.banner-heading {
    font-size: 70px;
}

.banner-text {
    font-size: 25px;
    margin-bottom: 30px;
  }
  .banner-btn {
margin-top: 40px;
}    

 /* Weather forecast */ 
 .current-weather, .day1, .day2{
  margin-bottom: 50px;
}
.weather h1 {
  font-size: 25px;
  }

.weather p {
font-size: 20px;
}


.about-us {
  padding: 40px 0;
  background-color: #f9f9f9;
  margin-left: 100px;
  margin-right: 100px;
}


.about-us-text{
  font-size: 20px;
}



/* Fresh-Shake-Banner styles */
  

  .Fresh-Shake-Banner h2 {
    font-size: 50px;
    margin: 0px;
  }
  
  .Fresh-Shake-Banner p {
    font-size: 25px;
    margin: 0px;

  }

  .Fresh-Shake-Banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

  .fresh-page-section {
    padding: 40px 0;
    background-color: #f9f9f9;
  
  }
  
  .fresh-page-section h2{
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 30px;
   
  }

  .fresh-page-section p{
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
    max-width: 800px;
    margin-left: 50px;
  }


  /* Fresh Fruit Form */



.h3-summary{
    margin-left: 50px;
    font-size: 30px;
}  
#order-summary {
	margin: 20px 0px 50px 0px;
	background-color:#F4EEA9;
	max-width: 700px;
	margin-left: 60px;
  font-size: 25px;
}

/* MAP */

.map-container {
    width: 700px;

}

}