@media only screen and (min-width: 45rem) {
.contact-info {
display: block;
margin-right: 20px;
color:  #074e19;
}

.hamburger-menu {
display: none;
}

.banner-heading {
    font-size: 70px;
}

.banner-text {
    font-size: 25px;
    margin-bottom: 30px;
  }
  .banner-btn {
margin-top: 40px;
}    


/* Fresh-Shake-Banner styles */
  

  .Fresh-Shake-Banner h2 {
    font-size: 50px;
  }
  
  .Fresh-Shake-Banner p {
    font-size: 25px;
    margin-left: 50px;

  }

  .Fresh-Shake-Banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left  ;
}

  .fresh-page-section {
    padding: 40px 0;
    background-color: #f9f9f9;
  
  }
  
  .fresh-page-section h2{
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 30px;
   
  }

  .fresh-page-section p{
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    max-width: 800px;
    margin-left: 50px;
  }


  /* Fresh Fruit Form */



.h3-summary{
    margin-left: 50px;
    font-size: 30px;
}  
#order-summary {
	margin: 20px 0px 50px 0px;
	background-color: #f7f7f7;
	max-width: 700px;
	margin-left: 60px;
    font-size: 20px;
}

/* MAP */

.map-container {
    width: 700px;

}

}