
/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

* {
    font-family: 'Nunito', sans-serif;
}

  

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.logo img {
    max-height: 150px;
}
  
nav ul {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
  
nav li {
    margin: 0 10px;
    font-size: 20px;
  }
  
nav a {
    text-decoration: none;
    color:  #064635
}
  
.contact-info {
    display: none;

}

/* Hamburger Button */
.hamburger-button {
  text-align: center;
  margin-right: 30px;
}


#hamburger-button span:nth-child(1) {
  display: block;
}

#hamburger-button span:nth-child(2) {
  display: none;
}

#hamburger-button.open span:nth-child(1) {
  display: none;
}

#hamburger-button.open span:nth-child(2) {
  display: block;
}

#hamburger-button {
  margin: 0;
  padding: 0 8px;
  background: transparent;
  border: 1px solid rgb(154, 152, 152);
  border-radius: 2px;
  font-size: 2rem;
  color: black;
}

nav ul.open {
  display: block;
}

nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color:  #074e19;
  font-size: 1.3rem;
  font-weight: bold;
}

nav ul li a:hover {
  color: var(--secondary-color);
}

nav ul li.active a {
  color: rgb(3, 0, 0);
  font-weight: bold;
}

h2  {
  margin-bottom: 15px;
}
/* Banner styles */
.banner {
    height: 500px;
    width: auto;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    
  }
  
.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transition: opacity 0.3s ease-in-out;
}
  
  .banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color:#074e19;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 50px;
    border-radius: 10px;
  }

  .banner img.loaded {
    opacity: 1;
  }
  
  .banner-heading {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Nunito', sans-serif;
  }
  
  .banner-text {
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .banner-btn {
    display: inline-block;
    background-color: #074e19;
    color: #fff;
    padding: 12px 30px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .banner-btn:hover {
    background-color: #555;
  }


  /* Fresh Form with image */

  .fresh-container {
    display: flex;
    flex-wrap: wrap;
  }

.column {
  flex: none;
}

.fresh-form {
  background-color: #eee;
  padding: 20px;
  border-radius: 5px;
}

.image {
  position: relative;
  width: 520px;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.overlay:hover {
  opacity: 1;
}

.overlay-text {
  color: #fff;
  font-size: 24px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}


  
  /* About Us styles */
.about-us {
    padding: 40px 0;
 
    background-color: #f9f9f9;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .about-us-heading {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  .about-us-text{
    padding-bottom: 20px;
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
  }

  .fresh-page-section img {
    margin-left: 50px;
    width: 400px;
    margin-top: 30px;
  }

  .contact-us-form label {
    font-size: 25px;
  }

  .contact-us-form input {
    font-size: 100px;
  }
  
  .contact-us h2 {
    margin-left: 30px;
  }

  figcaption {
    font-size: 10px;
    margin-left: 50px;
  }

  /* Card styles */
  .cards {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    gap: 20px;
  }
  
  .card{
    flex: 1;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: flex; 
  flex-direction: column; 
  justify-content: start;
  text-align: center; 
  
  }
  
  .card h2 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .cards h1 {
    font-size: 30px;
    line-height: 1.5;
  }

 /* Weather forecast */ 
.current-weather, .day1, .day2{
    margin-bottom: 50px;
  }
.weather h1 {
  font-size: 30px;
}

.weather p {
  font-size: 20px;
}

.weather img{
  height: 100px;
}

.info-card img{
margin-top: 30px;
width: 300px;
height: auto;
}

/* Fresh Drink Counter */
#form-count {
  display: inline-block;
  padding: 20px;
  background-color: #f7f7f7;
  color: #333;
  font-size: 3em;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Fresh-Shake-Banner styles */
.Fresh-Shake-Banner {
    height: 500px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
  }
  
.Fresh-Shake-Banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
  
  .Fresh-Shake-Banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    color:#074e19;  
}
  
  .Fresh-Shake-Banner h2 {
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 20px;
    font-family: 'Nunito', sans-serif;
    width: 50%;
  }
  
  .Fresh-Shake-Banner p {
    font-size: 25px;
    text-align: left;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    width: 40%;
  }

  .fresh-page-section {
    padding: 40px 0;
    background-color: #f9f9f9;
    max-width: 800px;
    text-align: left;
  }
  
  .fresh-page-section h1{
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 30px;
  }

  .fresh-page-section p {
    font-size: 18px;
    margin-left: 30px;
    margin-right: 20px;
  }


  /* Fresh Fruit Form */

form{
	max-width: 400px;
    margin-left: 30px;
    padding: 20px;
    margin-right: 20px;
}

.fresh-form h2 {
  font-size: 30px;
  margin-left: 30px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-size: 20px;
  height: 50px;
}

label {
    font-size: 20px;
    margin-bottom: 20px;
}

button[type="submit"] {
	display: block;
    padding: 20px;
	margin-bottom: 20px;
    font-size: 20px;
    color: #fff;
    background-color:  #074e19;
}

textarea {
    resize: vertical;
    min-height: 150px;
  }

.h3-summary{
    margin-left: 50px;
    font-size: 25px;

}  
#order-summary {
	margin: 20px 0px 50px 0px;
  padding: 20px;
	background-color:#F4EEA9;
	max-width: 700px;
	margin-left: 50px;
  margin-right: 20px;
  font-size: 20px;
}


/* MAP*/

.map-container {
    width: 400px;
    margin-left: 50px;
    margin-bottom: 50px;

}

#map {
    height: 500px;
  }

  html, body {
  height: 100%;
}

  /* Footer styles */

  footer {
    background-color: #064635;
    padding: 40px 0;
    text-align: center;
  }
  
  .social-media li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-media li:last-child {
    margin-right: 0;
  }
  
  .social-media a {
    font-size: 24px;
  }
  
  .social-media a:hover {
    color: #007bff;

  }
  
  address {
    font-style: normal;
    text-align: justify;
    margin-bottom: 20px;
  }
  
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    color: #fff;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 15px;
    box-sizing: border-box;
  }

  footer img {
    max-height: 150px;
  }
  
  .copyright {
    text-align: center;
}

  