
h1 {
    font-size: 2rem;
    margin-top: 50px;
}
body{
    text-align: center;
    grid-column: 1;
    background-color: blanchedalmond;
}

.image-holder {
    display: grid;
    grid-column: 1/1;
}

img {

    border: 1px solid black;
    margin: 10px;
}
