header {
    position: relative;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(159, 204, 252);
    color: rgb(2, 0, 0);
 
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 10px;
  }

  section {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 30px;
    margin-bottom: 10px;
    background-color: rgb(159, 204, 252);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }  

img {
    margin-bottom: 20px;
    object-fit: cover;
    width: 100%;
    object-position: 0px 10%;   
  }



h1 {
    display: flex;
    justify-content: center;
    padding: 20px;
}
h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    
}
h3 {
    font-size: 15px;
    padding: 5px;
}
