* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-size: 16px;
	font-family: Roboto, Helvetica, sans-serif;
}

li.views-row, .view ul {
	list-style-type: none;
}

.site-header .logo a img {
	display: flex;
	width: 100%;
	height: auto;
	flex-flow: column;
}


footer {
	background-color: white;
  	color: #0B111D;
}
.footer-img {
	height: 30%;
}


.footer-holder {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 10px;
}

header,
nav,
main,
footer {
	max-width: 960px;
	margin: 0 auto;
}

h1 {
	font-size: 2rem;
  color: #eee;
}
h2 {
	padding: .5rem;
	color: #0B111D;
}

p {
	padding: .5rem;
}



footer {
	display: flex;
	padding: 1rem;
	justify-content: space-between;
	font-weight: 700;
}

.grid-container {
	grid-gap: 1px;
}

.hero-grid, .event-grid, .weather-grid, .news-grid, .join-grid {
	background-color: #c6d4ed;
	padding: 20px;
	border: 1px solid #848484;
	margin: 10px;
}

.spot1-grid, .spot2-grid, .spot3-grid {
	background-color: #c6d4ed;
	padding: 20px;
	border: 1px solid #848484;
}

.spotplace-grid {
	display: grid;	
	grid-template-columns: 1fr 1fr; 
	background-color: #babcbc;
	margin: 10px;
	padding: 10px;
}




/***********************************************/
/** Media Queries for larger views *************/
/***********************************************/
