

h1 {
    display: flex;
    justify-content: center;
    padding: 20px;  
}



  .weather {
    background-color: #819aea;
    display: block;
    justify-content: center;
    text-align: center;
    width: 80%;
    margin: 50px 50px;
    padding: 20px; 
  }

figcaption, p {
  font-size: 20px;
  font-weight:bold;
}  