.page-wrap {
    max-width: 500px;
    margin: auto;
    background: white;
  }

body {
  font-family: "MonteserratBold", Arial, Helvetica, sans-serif;
}


.header-part{
    background-color: rgb(48, 147, 201);
    padding: 10px;
    box-shadow: 0px 0px 10px #000000;
    padding: 20px 30px 20px;

    display: grid;
    grid-template-columns: auto auto;
}

  .profile-image {
    width: 70%;
    box-shadow: 0px 0px 10px #000000;
  }

  .my_name h1 {
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-right: 25px;
    margin-top: 60px;
  }

  .content h1 {
    font-size: 25px;

    margin-left: 20px;
  }

  .week_lessons {
    max-width: 80%;
    margin-left: 20px;
    border-bottom: 1px solid black;
    padding-top: 10px;
    border-top: 1px solid black;
    padding-bottom:10px ;
    margin-bottom: 1px;
  }

  .week_lessons li {
    padding: 5px;
  }

  .content p {
    font-size: 12px;
    padding-left: 18px;
    font-style: italic;
    padding-bottom: 20px;
  }

footer {
    background-color: rgb(48, 147, 201);
    box-shadow: 0px 0px 10px #000000;
    padding: 20px 30px 20px;
}  

footer {
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 10px;
    font-family: "MonteserratBold", Arial, Helvetica, sans-serif;
  }

  .updated {
    font-size: 14px;
    color: #212121;
  }